body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #f5f5f5;
}

header img {
    transition: transform 0.3s;
}

header img:hover {
    transform: scale(1.1);
}

section {
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    padding: 30px;
    margin-bottom: 20px;
}

section:hover {
    box-shadow: 0 0 70px rgba(0, 0, 0, 0.2);
}

.memory-img {
    transition: filter 0.5s;
    height: auto;
    width: 100%;
}

.illuminate {
    filter: brightness(100%);
}

.best-friends {
    background-image: url('best_background.jpg');
    background-size: cover;
    padding: 50px 0;
}

.friend-img {
    max-width: 300px;
    min-width: 100px;
}

h3 {
    color: #E84646;
}